*{
    color: rgb(255, 255, 255);
}


body {
    background-color: rgba(79, 141, 223, 0.753);
    color: white;
    background-image: url("image/possessed-photography-JjGXjESMxOY-unsplash.jpg"); 
    background-size: cover;      
    background-repeat: no-repeat;
    background-position: center;  
    background-attachment: fixed; /*image bouge pas */
}



h1{
    color: rgb(205, 189, 200);
    text-align: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

#conteneurButton {
    margin: 100px 50px;
    padding: 20px;
    text-align: center;

}

#conteneurButton > button{
    border: black solid 1px;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 18px;
    font-family: comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
    background-color: #ba9eba;

}

#conteneurButton > button:active {
    background-color: bisque;
    color: #ba9eba;
    text-align: center;
    transform: scale(0.95);

}
#conteneurButton :hover{ background-color: #6690aa;   
  transform: scale(1.05);     
}

footer {
    margin-top: 30%;
    font-size: 20px;

}

#robot {
            font-size: 50px;
            position: absolute;
            top: 400px;
            left: 200px;
            transition: all 0.1s linear;
        }
        button {
            margin: 5px;
        }
